@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.topnav{
    box-shadow: 39px 11px 24px 3px rgba(0,0,0,1);
-webkit-box-shadow: 39px 11px 24px 3px rgba(0,0,0,1);
-moz-box-shadow: 39px 11px 24px 3px rgba(0,0,0,1);
}
h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.card{
    padding: 20px;
    margin: 10px;
    box-shadow: 10px 8px 9px 9px rgba(253,253,253,0.75) inset;
-webkit-box-shadow: 10px 8px 9px 9px rgba(253,253,253,0.75) inset;
-moz-box-shadow: 10px 8px 9px 9px rgba(253,253,253,0.75) inset;
color: white;
font-size: 30px;

    
}
#form{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    float: inline-start;
    
}
.button{
    margin-left: 38%;
}
.form-control{
    width: 100%;
}