/* You can add global styles to this file, and also import other style files */
body{
  background-image: url('https://cdn.wallpapersafari.com/94/11/2hcYGP.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}