/* You can add global styles to this file, and also import other style files */
body{
  background-image: url('https://i.pinimg.com/originals/01/d9/33/01d93357e2875e2d2d4922db7f07d0de.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}